body, html {
    background-color: olive;
}

.container {
   margin-top: 5vh;
   margin-bottom: 15vh;
    background-color: salmon;
    border-radius: 15px;
}

.searchBox {
    background-color: chocolate;
    height: 40vw;
    padding: 25px;
    margin-bottom: 10vh;
    margin-top: 5vh;
    border-radius: 25px;
}

.box {
    background-color: burlywood;
    height: 40vw;
    padding: 50px;
    margin-bottom: 10vh;
    margin-top:5vh;
    border-radius: 60px;
}
